{{> header.handlebars}}

<div class="jumbotron jumbotron-fluid" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width:100%;">
                    <div class="card-header row justify-content-between">
                        <div class="">
                            <h3>Season Statistics</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/save">
                            <div class="row">
                                <table class="table table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Position</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Height(m)</th>
                                        <th scope="col">Yellow</th>
                                        <th scope="col">Red</th>
                                        <th scope="col">Goals</th>
                                        <th scope="col">Assists</th>
                                        <th scope="col">Clean Sheets</th>
                                        <th scope="col">Select</th>
                                        <!--                                                                                <th scope="col">Action</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each players}}
                                        <tr>
                                            <th>{{fieldPosition}}</th>
                                            <td>{{firstName}}</td>
                                            <td>{{lastName}}</td>
                                            <td>{{age}}</td>
                                            <td>{{height}}</td>
                                            <td>{{yellowCards}}</td>
                                            <td>{{redCards}}</td>
                                            <td>{{goals}}</td>
                                            <td>{{assists}}</td>
                                            <td>{{cleanSheets}}</td>
                                            <td>
                                                <input type="checkbox" name="{{id}}"
                                                       aria-label="Checkbox for following text input">
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <br><br>

                            <div class="row justify-content-around">
                                <div>
                                    <button type="submit" class="btn btn-warning  right m-3">Save Team Selection</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
<!--                <div class="row justify-content-around">-->
<!--                    <div>-->
<!--                        <a href="" class="btn btn-warning  right m-3">Save Team Selection</a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>